<div class="projects">

  <vr-page-header [height]="'180px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true"></vr-page-header>

  <div class="container">
    <div class="crumbs" fxLayout="row" fxLayoutAlign="center center">
      <vr-single-profile></vr-single-profile>
      <vr-single-profile></vr-single-profile>
    </div>
  </div>
</div>
<!-- 

<mat-menu #menuRef="matMenu">
  <button mat-menu-item>
    <mat-icon>archive</mat-icon> Archive </button>
  <button mat-menu-item>
    <mat-icon>label</mat-icon> Labels </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon> Delete </button>
</mat-menu> -->