<div class="content">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/img/profile/{{profile.img}}">

      <mat-card-subtitle>
        {{profile.profession}}
      </mat-card-subtitle>
      <mat-card-title>{{profile.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <ui-carousel [infinite]="true" [fade]="false" [speed]="1500" height="200px" width="280px">
        <ui-carousel-item *ngFor="let img of profile.allProducts">
          <img (click)="showImage()" src="assets/img/experiencia/{{img}}" alt="" height="200px" width="280px" draggable="true">
        </ui-carousel-item>
      </ui-carousel>
    </mat-card-content>
    <mat-card-content>
      <div [innerHTML]="profile.about"></div>     
      
    </mat-card-content>

    <div fxLayout="row">
      <mat-chip-list fxLayoutAlign="start center">
        <mat-chip selected="true" matTooltip="{{item.verify=='USER'?'Verificado por usuario Socay':(item.verify=='OTHER'?'Verificado por referencia':'No Esta Verificado')}}"
          color="{{item.verify=='USER'?'accent':(item.verify=='OTHER'?'primary':'default')}}" *ngFor="let item of profile.skills">{{ item.skill }}</mat-chip>
      </mat-chip-list>
      <span fxFlex></span>
      <div fxLayoutAlign="end end" matTooltip="{{profile.record.length}} trabajos realizados en Socay">
        <mat-icon class="chevron">{{profile.record.length > 9 ?'filter_9_plus':'filter_'+profile.record.length}}</mat-icon>
      </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div fxLayout="row">
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <span fxFlex></span>
        <button mat-button type="button" [routerLink]="['/pages/profile/',profile.id]">
          Más Información
        </button>

      </div>
    </mat-card-actions>
  </mat-card>
</div>

