<div class="profile" [hidden]="!profile">

  <vr-page-header [height]="'416px'" background="url(/assets/img/demo/headers/pattern-1.png)" [reverse]="true"></vr-page-header>

  <div class="container">

    <vr-breadcrumbs [currentPage]="'Profile'" [header]="'primary'"></vr-breadcrumbs>

    <div class="splash mat-elevation-z4" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="space-between">

      <div class="left" fxLayout="row">

        <img fxFlex="150px" class="picture" src="assets/img/profile/{{profile.img}}">

        <div fxLayout="column" fxLayoutAlign="space-between">
          <div>
            <div class="name">{{profile.name}}</div>
            <div class="description">Profesión</div>
            <br>
            <!-- <span>Contratar <i class="fa fa-briefcase"></i></span> -->
            <button mat-fab matTooltip="Contratar" (click)="selectedIndex=2">
               <mat-icon>payment</mat-icon>
             </button>
            
            <!-- <div class="contact" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
              <mat-icon class="icon">mail</mat-icon>
              <span>{{profile.email}}</span>
            </div> -->
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
            <!-- <button class="primary-button" type="button" mat-raised-button color="primary">
              Contact
            </button>
            <button class="secondary-button" type="button" mat-button color="primary">
              Resume
            </button> -->
          </div>
        </div>

      </div>

      <div class="right" fxLayout="column" fxLayoutAlign="space-between">
        <div class="info" fxLayout="row">
          <div class="names">
            <div class="name">Ubicación:</div>
            <!-- <div class="name">Address:</div>
            <div class="name">Telephone:</div> -->
          </div>
          <div class="values">
            <div class="value">Medellín - Antioquia</div>
            <!-- <div class="value">{{profile.address}}</div>
            <div class="value">{{profile.phone}}</div> -->
          </div>
        </div>

        <div class="social" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
          <!-- <i class="fa fa-github"></i> -->
          <i class="fa fa-twitter" matTooltip="Red Verificada"></i>
          <i class="fa fa-facebook" matTooltip="Red Verificada"></i>
          <i class="fa fa-linkedin" matTooltip="Red Verificada"></i>
          <!-- <i class="fa fa-dribbble"></i>
          <i class="fa fa-stack-overflow"></i> -->
        </div>
      </div>

    </div>

    <mat-tab-group class="profile-tabs clean-tabs mat-elevation-z4" [(selectedIndex)]="selectedIndex">
     
      <mat-tab label="Detalles">
        <vr-profile-overview [profile]="profile"></vr-profile-overview>
      </mat-tab>
      <mat-tab label="Experiencia">
        <vr-profile-record [records]="records"></vr-profile-record>
      </mat-tab>
      <mat-tab label="Tarifas">
        <vr-profile-rate></vr-profile-rate>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
