<div class="profile-overview" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" >

  <div class="aside">
    <!-- <div class="heading">RECENT ACTIVITY</div> -->

    <div class="activity">

      <div *ngFor="let record of records; let i = index" class="event" fxLayout="row" (click)="click(record)">
          <div class="dot primary"></div>
          <div class="line"></div>
          <div class="info">
            <div class="when">{{record.fecha}}</div>
            <div class="name">{{record.cliente}}</div>
            <!-- <star-rating [starType]="'svg'" [rating]="2.63"></star-rating> -->
            <!-- <star-rating-comp [starType]="'icon'"></star-rating-comp> -->
            <star-rating [starType]="'svg'" [rating]="2.63"></star-rating> 
            <div class="description">{{promedioCalificacion(record)}}</div>
          </div>
      </div>

      <!-- <div class="event" fxLayout="row" (click)="click($event)">
        <div class="dot primary"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">17 mins ago</div>
          <div class="name">Called Jefferson</div>
          <div class="description">Jason called Jefferson about the meeting</div>
        </div>
      </div>

      <div class="event" fxLayout="row">
        <div class="dot accent"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">54 mins ago</div>
          <div class="name">New purchase</div>
          <div class="description">Jason successfully purchased item #26</div>
        </div>
      </div>

      <div class="event" fxLayout="row">
        <div class="dot primary"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">2 hours ago</div>
          <div class="name">Printed sales report</div>
          <div class="description">Jason printed the sales report</div>
        </div>
      </div>

      <div class="event" fxLayout="row">
        <div class="dot warn"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">4 hours ago</div>
          <div class="name">Created ticket</div>
          <div class="description">Jason created a new ticket about the design</div>
        </div>
      </div>

      <div class="event" fxLayout="row">
        <div class="dot accent"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">5 hours ago</div>
          <div class="name">New purchase</div>
          <div class="description">Jason bought the elastic ui template</div>
        </div>
      </div>
    </div> -->

    <div class="footer" fxLayout="row" fxLayoutAlign="center center">
      <button type="button" mat-button>LOAD MORE</button>
    </div>
  </div>
</div>