<!-- <div class="form-wizard-page">
  <div class="container always">

    <div class="card alternative">
      <div class="shopping-cart">
        <div class="cart" fxLayout="column" fxLayoutGap="24px">
          <table class="table">
            <thead>
              <tr>
                <td>Item</td>
                <td>Description</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Subtotal</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="//placehold.it/80x80">
                </td>
                <td>
                  <div fxLayout="column">
                    <div>Baseball cap</div>
                    <div>
                      <span class="semi-bold">Color:</span> Vintage Blue</div>
                    <div>
                      <span class="semi-bold">Variation:</span> Stripes</div>
                    <div>
                      <span class="semi-bold">Product ID:</span> #4421</div>
                  </div>
                </td>
                <td>2</td>
                <td>$19.99</td>
                <td>$39.98</td>
              </tr>
              <tr>
                <td>
                  <img src="//placehold.it/80x80">
                </td>
                <td>
                  <div fxLayout="column">
                    <div>T-Shirt</div>
                    <div>
                      <span class="semi-bold">Color:</span> Yellow</div>
                    <div>
                      <span class="semi-bold">Variation:</span> V-Neck</div>
                    <div>
                      <span class="semi-bold">Product ID:</span> #23374</div>
                  </div>
                </td>
                <td>1</td>
                <td>$9.99</td>
                <td>$9.99</td>
              </tr>
              <tr>
                <td>
                  <img src="//placehold.it/80x80">
                </td>
                <td>
                  <div fxLayout="column">
                    <div>Pullover</div>
                    <div>
                      <span class="semi-bold">Color:</span> Black</div>
                    <div>
                      <span class="semi-bold">Variation:</span> Winter Edition</div>
                    <div>
                      <span class="semi-bold">Product ID:</span> #2213</div>
                  </div>
                </td>
                <td>3</td>
                <td>$29.99</td>
                <td>$89.97</td>
              </tr>
            </tbody>
          </table>

          <div fxLayout="row" fxLayoutAlign="end">
            <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="4px">
              <div>Item Subtotal: &nbsp;</div>
              <div>Shipping: &nbsp;</div>
              <div>Total Value: &nbsp;</div>
            </div>
            <div fxLayout="column" fxLayoutGap="4px">
              <div>$139.94</div>
              <div>$4.99</div>
              <div class="total">$144.93</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="form-wizard-page">    
  <div class="container always"> 
    <div class="card alternative">
          <div class="shopping-cart">
            <div class="cart" fxLayout="column" fxLayoutGap="24px">
              <table class="table">
                <thead>
                <tr>
                  <!-- <td>Concepto</td> -->
                  <td>Concepto</td>
                  <td>Cantidad</td>
                  <td>Costo</td>                 
                  <td>Subtotal</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <!-- <td><img src="//placehold.it/80x80"></td> -->
                  <td>
                    <div fxLayout="column">
                      <div>Baseball cap</div>
                      <div><span class="semi-bold">Color:</span> Vintage Blue</div>
                      <div><span class="semi-bold">Variation:</span> Stripes</div>
                      <div><span class="semi-bold">Product ID:</span> #4421</div>
                      <div><span class="semi-bold">Abrir:</span> <span (click)="openImg()">openImg</span></div>
                      <div><span class="semi-bold">Abrir:</span> <span (click)="open()">Open</span></div>
                    </div>
                  </td>
                  <td>2</td>
                  <td>$19.99</td>
                  <td>$39.98</td>
                </tr>             
                </tbody>
              </table>

              <div fxLayout="row" fxLayoutAlign="end">
                <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="4px">
                  <div>Item Subtotal: &nbsp;</div>
                  <div>Shipping: &nbsp;</div>
                  <div>Total Value: &nbsp;</div>
                </div>
                <div fxLayout="column" fxLayoutGap="4px">
                  <div>$139.94</div>
                  <div>$4.99</div>
                  <div class="total">$144.93</div>
                </div>
              </div>
            </div>
          </div>       
    </div>
  </div>
</div>

