<div class="form-wizard-page">
  <div class="container always">
   

    <div class="card alternative">
      <mat-tab-group class="form-wizard" [(selectedIndex)]="selectedIndex">
        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <span class="badge primary">1</span>
              <span>Tarifas</span>
            </div>
          </ng-template>
          <div>
            <div class="shopping-cart">
              <div class="cart" fxLayout="column" fxLayoutGap="24px">
                <table class="table">
                  <thead>
                    <tr>
      
                      <td>Concepto</td>
                      <td>Cantidad</td>
                      <td>Medida</td>
                      <td>Costo</td>
                      <td>Agregar</td>
                      <td>$</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let producto of productos">
                      <td>
                        <div fxLayout="column">
                          <div>{{producto.concepto}}</div>
                          <div>
                            <!-- <span class="semi-bold" [hidden]="!producto.evidencias">Abrir Catalogo:</span> -->
                            <!-- <span (click)="openImg(producto.evidencias)">openImg</span> -->
                            <button mat-fab matTooltip="Ver Evidencias de trabajos" (click)="openImg(producto.evidencias)">
                              <mat-icon>collections</mat-icon>
                            </button>
                          </div>
                        </div>
                      </td>
                      <td>{{producto.cantidad}}</td>
                      <td>{{producto.medida}}</td>
                      <td>{{producto.precio | currency}}</td>
                      <td>
                        <mat-select class="filter" [(ngModel)]="producto.cant" (change)="cambioCantidad(producto)">
                          <mat-option *ngFor="let item of cantidades" value="{{item}}">{{item}}</mat-option>
                        </mat-select>
                      </td>
                      <td>{{(producto.subtotal?producto.subtotal:0) | currency}}</td>
      
                    </tr>
                  </tbody>
                </table>
      
                <div fxLayout="row" fxLayoutAlign="end">
                  <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="4px">
                    <div>Subtotal: &nbsp;</div>
                    <div>Descuento: &nbsp;</div>
                    <div>Valor Total: &nbsp;</div>
                  </div>
                  <div fxLayout="column" fxLayoutGap="4px">
                    <div>{{subtotal | currency}}</div>
                    <div>{{descuento | currency}}</div>
                    <div class="total">{{total | currency}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="total && total!=0">
          <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <span class="badge primary">2</span>
              <span>Datos Personales</span>
            </div>
          </ng-template>
          <!-- <div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
              <md-input-container color="primary" fxFlex.gt-sm>
                <input mdInput placeholder="Primary Color" type="text">
              </md-input-container>
            
              <md-input-container color="accent" fxFlex.gt-sm>
                <input mdInput placeholder="Accent Color" type="text">
              </md-input-container>
            
              <md-input-container color="warn" fxFlex.gt-sm>
                <input mdInput placeholder="Warn Color" type="text">
              </md-input-container>
            </div>
            
            <md-input-container>
              <input mdInput placeholder="Username" type="text" value="DavidSmith">
              <md-icon mdSuffix>person</md-icon>
            </md-input-container>
            
            <md-input-container fxFlex.gt-sm>
              <span mdPrefix>+1 &nbsp;</span>
              <input mdInput placeholder="Mobile Phone" type="text" required>
              <md-icon mdSuffix>smartphone</md-icon>
            </md-input-container>
            
            <md-input-container floatPlaceholder="never">
              <input mdInput placeholder="No Floating Placeholder" type="text" required>
            </md-input-container>
            
            <md-input-container>
              <input mdInput [mdDatepicker]="datepickerRef" placeholder="Click on the icon to the right for a Datepicker">
              <button mdSuffix [mdDatepickerToggle]="datepickerRef"></button>
            </md-input-container>
            <md-datepicker #datepickerRef></md-datepicker>
          </div> -->
        </mat-tab>
      </mat-tab-group>
      <div class="tab-navigation" fxLayout="row" fxLayoutAlign="space-between" [hidden]="!total || total==0">
        <button type="button" mat-raised-button color="primary" (click)="previousPage()" [disabled]="selectedIndex == 0">Atras</button>
        <button type="button" mat-raised-button color="primary" (click)="nextPage()" *ngIf="selectedIndex !== lastIndex">Datos Personales</button>
        <button type="button" mat-raised-button color="accent" *ngIf="selectedIndex == lastIndex">Confirmar </button>
      </div>
    </div>

  </div>
</div>


