<!-- 
    <div fxLayout="row" fxLayoutAlign="start center" fxHide.gt-sm>
      <button type="button" mat-icon-button >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  
    <div class="logo-contrast" *ngIf="sidenavCollapsed"
         fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-sm>
      <img class="logo" alt="logo" src="assets/img/logo_dark2x.png">
    </div>
  
    <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutAlign.gt-sm="space-between stretch" fxFlex>
      <div class="search-bar" fxHide fxShow.gt-sm
           fxLayout="row" fxLayoutAlign="start center" fxFlex fxFlex.gt-md="500px">
       
        <p>search_bar</p>
      </div>
  
      <div fxLayout="row" fxFlexOffset.gt-sm="24px">
          <p>search</p>
       
     <p>not</p>
     <p>user</p>
  
        
        <button mat-button class="quickpanel-button icon-button" >
          <mat-icon class="icon">format_align_right</mat-icon>
        </button>
      </div>
    </div> -->


    <mat-form-field>
        <mat-select class="filter" placeholder="Favorite fruit">
          <mat-option value="ALL">All</mat-option>
          <mat-option value="PRESTACIÓN DE SERVICIO">Prestación de servicios</mat-option>
          <mat-option value="CONTRATACIÓN">Contratación</mat-option>
         
        </mat-select>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary">Create Project</button>
  
