    <!-- <mat-form-field>
        <mat-select class="filter" placeholder="Favorite fruit">
          <mat-option value="ALL">All</mat-option>
          <mat-option value="PRESTACIÓN DE SERVICIO">Prestación de servicios</mat-option>
          <mat-option value="CONTRATACIÓN">Contratación</mat-option>
         
        </mat-select>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary">Create Project</button>
   -->
   <div class="actions" fxLayout="row" fxLayoutAlign="end center" [fxLayoutGap]="mobileGap" [fxLayoutGap.gt-sm]="desktopGap">
      <mat-form-field>
         
          <mat-label  style="color: white!important;   ">Tipo de Servicio</mat-label>
           <mat-select class="filter" >                          
          <mat-option value="ALL">All</mat-option>
          <mat-option value="PRESTACIÓN DE SERVICIO">Prestación de servicios</mat-option>
          <mat-option value="CONTRATACIÓN">Contratación</mat-option>
          
        </mat-select>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary">Filtrar</button>
    </div>